
/* GENERAL STYLES */

html {
    font-size: 125%;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    max-height: 100vh;
    background: #FF206E;
}

/* HEADER STYLES */

header {
    text-align: center;
}

h1 {
    font-family: "Suez One", serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    margin: 2% 0;
}

.openModal {
    margin: 20px auto 30px;
}

.button {
    font-weight: bold;
    padding: 12px 40px;
    text-transform: uppercase;
    background: #FBFF12;
    border: none;
}

.button:hover {
    cursor: pointer;
}

/* MODAL STYLES */

.userPickModal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.userPickContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #41EAD4;
    border: 10px solid #FBFF12;;
    width: 60%;
    margin: 10% auto;
    padding: 100px 20px 40px;
}

ul {
    padding-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}

li {
    width: 150px;
    height: 50px;
    position: relative;
    background: white;
    margin-right: 30px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px grey;
}

li:last-of-type {
    margin-right: 0;
}

.userPickContent input[type="radio"],
.userPickContent label {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.userPickContent label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPickContent input[type="radio"] {
    visibility: hidden;
    z-index: 100;
}

.userPickContent label:hover {
    cursor: pointer;
}

.userPickContent input[type="radio"]:checked+label {
    background: yellow;
}

#warning {
    visibility: hidden;
    font-weight: bold;
    color: red;
    margin-top: 35px;
}

/* GAME AREA STYLES */

.gameArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.handDiv,
.handReverseDiv {
    max-width: 35%;
}

.handAnimate {
    animation: hand 0.4s linear 3;
    transform-origin: bottom right;
}

.handReverseAnimate {
    animation: handReverse 0.4s linear 3;
    transform-origin: bottom left;
}

@keyframes hand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes handReverse {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* RESULTS SECTION STYLES */

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#playAgain {
    display: none;
}