/* GENERAL STYLES */

html {
    font-size: 125%;
}


h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    max-height: 100vh;
}

/* HEADER STYLES */

header {
    text-align: center;
}

h1 {
    font-family: "Suez One", serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    margin: 2% 0;
}

.userPickModal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.userPickContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 70%;
    margin: 10% auto;
    padding: 80px 20px;
}

ul {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}

li {
    width: 150px;
    height: 50px;
    position: relative;
    margin-right: 30px;
    border: 1px solid black;
}

.userPickContent input[type="radio"],
.userPickContent label {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.userPickContent input[type="radio"] {
    visibility: hidden;
    z-index: 100;
}

.userPickContent input[type="radio"]:checked+label {
    background: yellow;
}

#warning {
    visibility: hidden;
    color: red;
}

.gameArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.handDiv,
.handReverseDiv {
    max-width: 30%;
}

.handAnimate {
    animation: hand 0.4s linear 3;
    transform-origin: bottom right;
}

.handReverseAnimate {
    animation: handReverse 0.4s linear 3;
    transform-origin: bottom left;
}

@keyframes hand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes handReverse {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#playAgain {
    display: none;
}