.gameArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0 2%;
    .handContainer,
    .handReverseContainer {
        text-align: center;
        width: 40%;
        h3 {
            font-family: $mainFont;
            text-transform: uppercase;
            font-size: 2rem;
            color: $accent;
        }
    }
    .handAnimate {
        animation: hand 0.4s linear 3;
        transform-origin: bottom right;
    }
    .handReverseAnimate {
        animation: handReverse 0.4s linear 3;
        transform-origin: bottom left;
    }
}

// ANIMATIONS

@keyframes hand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes handReverse {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}