html {
    font-size: 125%;
}

h1,
h2,
h3,
ul,
li,
p,
section,
aside,
body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: $primary;
    display: flex;
}

.button {
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 40px;
    text-transform: uppercase;
    background: $accent;
    border: 3px solid black;
    border-radius: 30px;
    font-family: $mainFont;
}

.button:hover {
    cursor: pointer;
}