header {
    text-align: center;
    h1 {
        font-family: $mainFont, cursive;
        font-size: 3.5rem;
        letter-spacing: 0.25rem;
        margin: 2%;
        color: $secondary;
        text-shadow:
            -1px -1px black,
            1px 1px black,
            2px -2px $accent,
            3px -3px black,
            4px -4px $accent,
            5px -5px black,
            6px -6px $accent,
            7px -7px black,
            8px -8px $accent,
            9px -9px black;
    }
    .openModal {
        margin: 30px auto 0;
    }
    .openModal:hover,
    .openModal:focus {
        background: $secondary;
        color: $accent;
        text-shadow: 1px 1px black, -1px -1px black;
    }
}