@media (max-width: 1068px) {
    body {
        flex-direction: column;
    }

    .gameContent {
        min-height: calc(100vh - 120px);
        width: 100%;
    }

    // SCOREBOARD STYLES 

    .scoreboard {
        width: 100%;
        height: 120px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 10px solid $accent;
        border-left: none;
        .score {
            display: flex;
            align-items: center;
        }
        .scoreFlex {
            margin: 0 20px 0 0;
        }
        h3 {
            margin-bottom: 0;
            margin-right: 40px;
        }
    }
}

@media (max-width: 860px) {

    // HEADER

    header {
        h1 {
            font-size: 3rem;
        }
        .openModal {
                margin-top: 20px;
        }
    }

    // MODAL 

    .userPickModal {
        .userPickContent {
            width: 60%;
        }
    }

    // GAME AREA

    .gameArea {
        margin-top: 1.5%;
        .handContainer,
        .handReverseContainer {
            width: 47%;
        }
    }

    // SCOREBOARD

    .scoreboard {
        .scoreFlex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 50px;
        }
        .scoreFlex:last-of-type {
            margin-right: 0;
        }
        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
            line-height: 1.7rem;
        }
        .count {
            margin: 0;
            font-size: 1.5rem;
        }
    }

    // RESULTS

    .results {
        width: 55%;
    }

}

@media (max-width: 660px) {

    // MODAL STYLES

    .userPickModal {
        .userPickContent {
            padding: 20px 20px 10px;
            ul {
            flex-direction: column;
            padding-bottom: 40px;
                li {
                    margin: 0 0 20px;
                }
                li:last-of-type {
                    margin-bottom: 0;
                }
            }
            label {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // GAME AREA STYLES

    .gameArea {
        margin-top: 10%;
        h3 {
            margin-top: 20px;
        }
    }
}

@media (max-width: 565px) {


    // HEADER

    header {
        h1 {
            font-size: 2.4rem;
            padding-top: 20px;
        }
    }

    // SCOREBOARD

    .scoreboard {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        .score {
            flex-direction: column;
        }
        .scoreFlex {
            flex-direction: row;
            width: 160px;
            margin: 0 0 20px 0;
            justify-content: space-between;
        }
        .scoreFlex:last-of-type {
            margin-bottom: 0;
        }
        h3 {
            margin-right: 0;
            margin-top: 20px;
            }
        p {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
        .count {
            font-size: 1.2rem;
        }
    }

    // RESULTS

    .results {
        width: 70%;
    }
}