.userPickModal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.userPickContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $secondary;
    border: 10px solid $accent;
    width: 45%;
    margin: 10% auto;
    padding: 100px 20px 40px;
}

ul {
    padding-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}

li {
    width: 150px;
    height: 50px;
    position: relative;
    background: white;
    margin-right: 30px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px grey;
}

li:last-of-type {
    margin-right: 0;
}

.userPickContent input[type="radio"],
.userPickContent label {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.userPickContent label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPickContent input[type="radio"] {
    visibility: hidden;
    z-index: 100;
}

.userPickContent label:hover {
    cursor: pointer;
}

.userPickContent input[type="radio"]:checked+label {
    background: $accent;
}

#warning {
    visibility: hidden;
    font-weight: bold;
    color: red;
    margin-top: 35px;
    font-family: "Patua One", serif;
    letter-spacing: 0.05em;
}