.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .scoreboard {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    p {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    #playAgain {
        display: none;
    }
}