.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $secondary;
    width: 40%;
    margin: 0 auto 3%;
    p {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-family: $mainFont;
        font-size: 1.5rem;
        padding: 25px 30px 20px;
    }
    #playAgain {
        display: none;
        margin-bottom: 25px;
    }
    #playAgain:hover,
    #playAgain:focus {
        background: $primary;
        color: $accent;
        text-shadow: 1px 1px black, -1px -1px black;
    }
}

.resultsBorder {
    border: 10px solid $accent;
}