.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $secondary;
    width: 50%;
    margin: 0 auto;
    p {
        font-weight: bold;
        text-transform: uppercase;
        font-family: $mainFont;
        font-size: 1.5rem;
        padding: 30px 30px 20px;
    }
    #playAgain {
        display: none;
        margin-bottom: 30px;
    }
}

.resultsBorder {
    border: 10px solid $accent;
}