html {
  font-size: 125%;
}

h1,
h2,
h3,
ul,
li,
p,
section,
aside,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gameContent {
  width: 75%;
  background: #FF206E;
}

.button {
  font-weight: bold;
  font-size: 1rem;
  padding: 15px 40px;
  text-transform: uppercase;
  background: #FBFF12;
  border: 3px solid black;
  border-radius: 30px;
  font-family: "Luckiest Guy";
}

.button:hover {
  cursor: pointer;
}

header {
  text-align: center;
}

header h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
  margin: 2%;
  color: #41EAD4;
  text-shadow: -1px -1px black, 1px 1px black, 2px -2px #FBFF12, 3px -3px black, 4px -4px #FBFF12, 5px -5px black, 6px -6px #FBFF12, 7px -7px black, 8px -8px #FBFF12, 9px -9px black;
}

header .openModal {
  margin: 30px auto 0;
}

header .openModal:hover,
header .openModal:focus {
  background: #41EAD4;
  color: #FBFF12;
  text-shadow: 1px 1px black, -1px -1px black;
}

.userPickModal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.userPickModal .userPickContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #41EAD4;
  border: 10px solid #FBFF12;
  width: 45%;
  margin: 8.5% auto;
  padding: 60px 20px 20px;
}

.userPickModal .userPickContent ul {
  padding-bottom: 60px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userPickModal .userPickContent ul li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  background: white;
  margin-right: 45px;
  border: 3px solid black;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

.userPickModal .userPickContent ul li:last-of-type {
  margin-right: 0;
}

.userPickModal .userPickContent input[type="radio"],
.userPickModal .userPickContent label {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.userPickModal .userPickContent input[type="radio"] {
  visibility: visible;
  opacity: 0;
  z-index: 100;
}

.userPickModal .userPickContent input[type="radio"]:checked + label {
  background: #FF206E;
  color: #41EAD4;
  text-shadow: -1px -1px black, 1px 1px black, 2px -2px #FBFF12;
}

.userPickModal .userPickContent label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Luckiest Guy";
}

.userPickModal .userPickContent label:hover {
  cursor: pointer;
}

.userPickModal .userPickContent input[type="submit"] {
  -webkit-appearance: none;
}

.userPickModal .userPickContent input[type="submit"]:hover,
.userPickModal .userPickContent input[type="submit"]:focus {
  background: #FF206E;
  color: #FBFF12;
  text-shadow: 1px 1px black, -1px -1px black;
}

.userPickModal .userPickContent #warning {
  visibility: hidden;
  font-weight: bold;
  font-size: 1.2rem;
  color: #FF206E;
  text-align: center;
  text-shadow: 1px 1px black, -1px -1px black;
  margin-top: 20px;
  font-family: "Luckiest Guy";
  letter-spacing: 0.05em;
}

.gameArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0 3.5%;
}

.gameArea .handContainer,
.gameArea .handReverseContainer {
  text-align: center;
  width: 40%;
}

.gameArea .handContainer h3,
.gameArea .handReverseContainer h3 {
  font-family: "Luckiest Guy";
  text-transform: uppercase;
  font-size: 2rem;
  color: #FBFF12;
  text-shadow: 1px 1px black, -1px -1px black;
}

.gameArea .handAnimate {
  -webkit-animation: hand 0.4s linear 3;
          animation: hand 0.4s linear 3;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.gameArea .handReverseAnimate {
  -webkit-animation: handReverse 0.4s linear 3;
          animation: handReverse 0.4s linear 3;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@-webkit-keyframes hand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes handReverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes handReverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #41EAD4;
  width: 40%;
  margin: 0 auto 3%;
}

.results p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Luckiest Guy";
  font-size: 1.5rem;
  padding: 25px 30px 20px;
}

.results #playAgain {
  display: none;
  margin-bottom: 25px;
}

.results #playAgain:hover,
.results #playAgain:focus {
  background: #FF206E;
  color: #FBFF12;
  text-shadow: 1px 1px black, -1px -1px black;
}

.resultsBorder {
  border: 10px solid #FBFF12;
}

.scoreboard {
  background: #41EAD4;
  height: 100vh;
  width: 25%;
  font-family: "Luckiest Guy";
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 10px solid #FBFF12;
}

.scoreboard h3 {
  font-size: 2.5rem;
  padding: 10px;
  margin-bottom: 60px;
  color: #FBFF12;
  text-shadow: -1px -1px black, 1px 1px black, 2px -2px #FF206E, 3px -3px black, 4px -4px #FF206E, 5px -5px black, 6px -6px #FF206E, 7px -7px black, 8px -8px #FF206E, 9px -9px black;
}

.scoreboard #wins,
.scoreboard #losses {
  margin-bottom: 10%;
}

.scoreboard span {
  background: #FBFF12;
  display: inline-block;
  text-align: center;
  width: 50px;
  border: 3px solid black;
}

@media (max-width: 1068px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gameContent {
    min-height: calc(100vh - 120px);
    width: 100%;
  }
  .scoreboard {
    width: 100%;
    height: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 10px solid #FBFF12;
    border-left: none;
  }
  .scoreboard .score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .scoreboard h3 {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .scoreboard #wins,
  .scoreboard #losses {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (max-width: 860px) {
  header h1 {
    font-size: 3rem;
  }
  header .openModal {
    margin-top: 20px;
  }
  .userPickModal .userPickContent {
    width: 60%;
  }
  .gameArea {
    margin-top: 1.5%;
  }
  .gameArea .handContainer,
  .gameArea .handReverseContainer {
    width: 47%;
  }
  .scoreboard h3 {
    font-size: 2rem;
  }
  .scoreboard p {
    font-size: 1.5rem;
    text-align: center;
  }
  .results {
    width: 55%;
  }
}

@media (max-width: 660px) {
  .userPickModal .userPickContent {
    padding: 20px 20px 10px;
  }
  .userPickModal .userPickContent ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .userPickModal .userPickContent ul li {
    margin: 0 0 20px;
  }
  .userPickModal .userPickContent ul li:last-of-type {
    margin-bottom: 0;
  }
  .userPickModal .userPickContent label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gameArea {
    margin-top: 10%;
  }
  .gameArea h3 {
    margin-top: 20px;
  }
}

@media (max-width: 565px) {
  header h1 {
    font-size: 2.4rem;
    padding-top: 20px;
  }
  .scoreboard {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
  .scoreboard .score {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scoreboard h3 {
    margin-right: 0;
    margin-top: 20px;
  }
  .scoreboard p {
    font-size: 1.2rem;
  }
  .scoreboard #wins,
  .scoreboard #losses {
    margin: 0 0 20px;
  }
  .results {
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */